GARAGE_DEFAULT_ACCESS_KEY=GK_REPLACE_WITH_GENERATED_ACCESS_KEY
GARAGE_DEFAULT_SECRET_KEY=REPLACE_WITH_GENERATED_SECRET_KEY
GARAGE_DEFAULT_BUCKET=saleor-media
GARAGE_RPC_SECRET=REPLACE_WITH_OPENSSL_RAND_HEX_32
GARAGE_ADMIN_TOKEN=REPLACE_WITH_OPENSSL_RAND_BASE64_32
GARAGE_METRICS_TOKEN=REPLACE_WITH_OPENSSL_RAND_BASE64_32
GARAGE_RUST_LOG=garage=info

IMGPROXY_KEY=REPLACE_WITH_XXD_HEX_64_BYTES
IMGPROXY_SALT=REPLACE_WITH_XXD_HEX_64_BYTES
IMGPROXY_ALLOWED_SOURCES=s3://saleor-media/
